.management-container {
  height: 100vh;
}

.mat-drawer {
  color: var(--sys-surface-container);
  background-color: var(--sys-surface-container-low);
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
