mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: end;
  color: var(--sys-surface);
}

.burger-icon {
  color: var(--sys-surface);
}

.mat-mdc-card {
  background-color: inherit;
  border-color: inherit;
  border-radius: 0;
  box-shadow: none;
}

mat-card-subtitle {
  color: var(--sys-surface-dim);
}

.mat-mdc-card-header {
  align-items: center;
  padding: 0;
}

.mat-mdc-card-avatar {
  width: 2.125rem;
  height: 2.125rem;
  margin: 0;
}

.avatar {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
