:root,
:host {
  --sys-background: #f5f6f7;
  --sys-on-background: #282828;
  --sys-surface: #fff;
  --sys-surface-dim: #f5f6f7;
  --sys-surface-bright: #fff;
  --sys-surface-container-lowest: #fff;
  --sys-surface-container-low: #666f78;
  --sys-surface-container: #fff;
  --sys-surface-container-high: #fff;
  --sys-surface-container-highest: #fff;
  --sys-on-surface: #282828;
  --sys-surface-variant: #fff;
  --sys-on-surface-variant: #282828;
  --sys-inverse-surface: #fff;
  --sys-inverse-on-surface: #282828;
  --sys-outline: #828c9666;
  --sys-outline-variant: #828c9666;
  --sys-shadow: #000;
  --sys-scrim: #da2032;
  --sys-surface-tint: #da2032;
  --sys-primary: #da2032;
  --sys-on-primary: #fff;
  --sys-primary-container: #f5f6f7;
  --sys-on-primary-container: #666f78;
  --sys-inverse-primary: #666f78;
  --sys-secondary: #666f78;
  --sys-on-secondary: #fff;
  --sys-secondary-container: #f5f6f7;
  --sys-on-secondary-container: #666f78;
  --sys-tertiary: #a2a9b1;
  --sys-on-tertiary: #fff;
  --sys-tertiary-container: #a2a9b1;
  --sys-on-tertiary-container: #666f78;
  --sys-error: #ff001f;
  --sys-on-error: #fff;
  --sys-error-container: #ffdad5;
  --sys-on-error-container: #73342d;
  --sys-neutral: #737975;
  --sys-neutral-variant: #707973;
  --sys-primary-fixed: #ffdad5;
  --sys-primary-fixed-dim: #f9dec4;
  --sys-on-primary-fixed: #282828;
  --sys-on-primary-fixed-variant: #da2032;
  --sys-secondary-fixed: #ffdad5;
  --sys-secondary-fixed-dim: #f9dec4;
  --sys-on-secondary-fixed: #282828;
  --sys-on-secondary-fixed-variant: #da2032;
  --sys-tertiary-fixed: #ffdad7;
  --sys-tertiary-fixed-dim: #ffb3af;
  --sys-on-tertiary-fixed: #3b080a;
  --sys-on-tertiary-fixed-variant: #733332;
  --sys-inverse-secondary: #ffb4ab;
  --sys-inverse-tertiary: #ffb3af;
  --sys-inverse-error: #ffb4ab;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;
  --sys-body-large-size: 1rem;
  --sys-body-medium-size: 0.875rem;
  --sys-body-small-size: 0.75rem;
  --sys-display-large-size: 3.562rem;
  --sys-display-medium-size: 2.812rem;
  --sys-display-small-size: 2.25rem;
  --sys-headline-large-size: 2rem;
  --sys-headline-medium-size: 1.75rem;
  --sys-headline-small-size: 1.5rem;
  --sys-label-large-size: 0.875rem;
  --sys-label-medium-size: 0.75rem;
  --sys-label-small-size: 0.688rem;
  --sys-title-large-size: 1rem;
  --sys-title-medium-size: 0.875rem;
  --sys-title-small-size: 0.875rem;
}
