@use '@angular/material' as mat;

@include mat.core;

$rick-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
      use-system-variables: true,
    ),
    typography: (
      use-system-variables: true,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($rick-theme);
  @include mat.typography-hierarchy($rick-theme);
  @include mat.system-level-colors($rick-theme);
  @include mat.system-level-typography($rick-theme);

  --mat-toolbar-standard-height: 70px;
  --mat-toolbar-container-background-color: #da2032;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
