<mat-accordion MatAccordionDisplayMode="flat">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Суперагент </mat-panel-title>
      <mat-panel-description> Банк ВТБ(ПАО) </mat-panel-description>
    </mat-expansion-panel-header>
    <p>....</p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-icon aria-hidden="false" fontIcon="business_center"></mat-icon>
      <mat-panel-title> Управление </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list role="list">
      <mat-list-item routerLink="contr-card" role="listitem">Карточка контрагента</mat-list-item>
      <mat-list-item role="listitem">Договоры контрагента</mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-icon aria-hidden="false" fontIcon="group"></mat-icon>
      <mat-panel-title> Субагенты </mat-panel-title>
    </mat-expansion-panel-header>
    <p>...</p>
  </mat-expansion-panel>
</mat-accordion>
